{#
/**
 * @file
 * Template for Four Squares.
 */
#}

<div class="four-squares panels">

  <div class="">
    <div class="row">
      <div class="cell matchHeight">
        <div class="content">
          {{ content.topleft }}
        </div>
      </div>
      <div class="cell matchHeight">
        <div class="content">
          {{ content.topright }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="cell matchHeight">
        <div class="content">
          {{ content.bottomleft }}
        </div>
      </div>
      <div class="cell matchHeight">
        <div class="content">
          {{ content.bottomright }}
        </div>
      </div>
    </div>
  </div>

</div><!-- /.four-squares -->
