div.region.region-sidebar-first > div.block.green {
  background-color: #A1D490 !important;
}

div.region.region-sidebar-first > div.block.orange {
  background-color: #DE9F2A !important;
}

div.region.region-sidebar-first > div.block.blue-class {
  background-color: #90C3D4 !important;
}
